.divPageBody {
	margin-top: 60px;
	margin-bottom: 600px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	}
h1 {
	margin-bottom: 10px;
	}
.divConfigSetting {
	margin-bottom: 10px;
	}
.btnCall {
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 9px;
	padding-bottom: 9px;
	width: 100px;
	}
.divDocsLink {
	font-size: 16px;
	}
.divPrefsDialog {
	}
.divResponse {
	width: 100%;
	border: 1px solid silver;
	min-height: 3em;
	padding: 3px;
	}
.divError {
	width: 100%;
	color: red;
	margin-top: 5px;
	}

table {
	width: 100%;
	line-height: 140%;
	}
.tdLabel {
	font-family: "Arial";
	width: 20%;
	text-align: right;
	padding-right: 5px;
	font-size: 16px;
	margin-top: 6px;
	color: gray;
	}
.tdResponseLabel {
	vertical-align: top;
	}
.tdContent {
	width: 80%;
	}
input[type="text"] {
	font-family: "Arial";
	width: 100%;
	font-size: 16px;
	height: auto;
	padding: 6px;
	margin-top: 6px;
	}

.divFormatPopup {
	float: right;
	margin-top: 3px;
	}
.divFormatPopup select {
	width: 100px;
	height: 25px;
	margin-bottom: 3px;
	}
.spErrorMessage {
	color: red;
	}
